.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    > label {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    > input {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #000;
        padding-left: 10px;
        background: #fff;
        border: 1px solid rgba(0,0,0,0.15);
    }
}