$primary: #220CA6;
@import '../../../assets/scss/variables.scss';
.main-title {
    font-size: 25px;
    font-weight: 500;
    border-bottom: 3px solid #d8d1ff;
    padding-bottom: 12px;
    margin-bottom: 32px;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        width: 75px;
        height: 6px;
        background: $primary;
    }
}