.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-modal {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    &__header {
        width: 100%;
        height: 50px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0,0,0,0.15);
        > h1 {
            font-size: 25px;
            font-weight: 700;
        }
        &-icon {
            font-size: 25px;
            &:hover {
                cursor: pointer;
                opacity: 0.75;
            }
        }
        
    }
    &__content {
        min-height: 200px;
        padding: 16px;
    }
}