$primary: #220CA6;
@import '../../../assets/scss/variables.scss';

.card-maintenance {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 32px;
    margin-right: 8px;
    display: flex;
    padding: 16px;
    &__avatar {
        height: 100%;
        min-height: 200px;
        width: 100%;
        max-width: 200px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border: 1px solid rgba(0,0,0,0.05);
        border-radius: 5px;
        margin-right: 16px;
        position: relative;
    }
    &__props {
        display: flex;
        flex-direction: column;
        width: calc(100% - 182px);
    }
    &__prop {
        display: flex;
        > h3:nth-child(1) {
            font-weight: 700;
            margin-right: 16px;
            margin-bottom: 5px;
        }
        > h3:nth-child(2) {
            font-weight: 500;
            margin-bottom: 5px;
        }
        &.two-lines {
            flex-direction: column;
        }
    }
    &__action {
        text-align: right;
        font-size: 30px;
        color: $primary;
        width: fit-content;
        margin-left: auto;
        &:hover {
            cursor: pointer;
            opacity: 0.75;
            border-radius: 100%;
        }
    }
    &.inmaintenance {
        background: #C1BCCF;
        > .card-maintenance__avatar {
            filter: saturate(0);
            &::after {
                position: absolute;
                height: 50px;
                line-height: 50px;
                text-align: center;
                width: 100%;
                content: 'In Maintenance';
                top: 40%;
                left: 0; 
                background: rgba(0,0,0,0.75);
                color: #fff;
            }
        }
    }
}
@media(max-width: 768px) {
    .card-maintenance {
        flex-direction: column;
        &__avatar {
            max-width: 100%;
            margin-bottom: 16px;
        }
        &__props {
            width: auto;
        }
    }
}