header {
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.05); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}
header > .avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}