.hv-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.m-info{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 16px;
    margin-bottom: 16px;
    > h1 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        > span {
            font-weight: 400;
        }
        &.twolines {
            display: flex;
            flex-direction: column;
            > span {
                margin-top: 8px;
                text-align: right;
            }
        }
    }
}