$primary: #220CA6;
@import '../../../assets/scss/variables.scss';

.main-button {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: $primary;
    font-size: 16px;
    font-weight: 500;
    &:hover {
        cursor: pointer;
        opacity: 0.75;
    }
    &:disabled {
        opacity: 0.3;
    }
}